@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;900&display=swap');

html,
body{
  font-family: Noto Sans SC;
  line-height: 50%;
  /* margin: 0;  */
  /* height: 100%;  */
  /* overflow: hidden */
  background-color: var(--light-yellow);
  scroll-margin: 20px 0 50px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
